.about {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid darkgray;
}
.about > h1 {
  font-family: "Syne", sans-serif;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(110, 0, 225);
}

.about__content {
  display: flex;
}
.about__content > img {
  box-sizing: content-box;
  height: 400px;
  padding-right: 150px;
  border-right: 1px solid darkgray;
}
.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__info > h5 {
  width: 400px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.about__more {
  border-radius: 70px;
  margin-top: 30px;
  height: 50px;
  width: 150px;
  border: 1px solid;
  border-color: rgba(124, 0, 194) rgba(110, 0, 225);
  outline: none !important;
  background: transparent;
  transition: 0.2s;
  font-size: 17px;
}
.about__more:hover {
  background: #41ee;
  color: white;
}

@media screen and (max-width: 1150px) {
  .about__content {
    flex-direction: column;
  }
  .about__content > img {
    padding: none;
    border: none;
  }
  .about__info > h5 {
    margin-top: 50px;
    width: 70%;
  }
  .about__more {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 794px) {
  .about__content > img {
    display: none;
  }
  .about__info > h5 {
    margin-top: -40px;
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .about__info > h5 {
    margin-top: 40px;
  }
}
