.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.About__home > h1 {
  color: white;
  font-size: 100px;
}
.About__home > p {
  color: white;
}

.About__home {
  position: relative;
  display: flex;
  top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/carousel-5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 87vh;
  width: 100%;
}

.About__content {
  position: relative;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  border-bottom: 1px solid darkgray;
}
.About__content > img {
  margin: auto;
  height: 400px;
  border-left: 1px solid darkgray;
}
.img {
  position: relative;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  border-bottom: 1px solid darkgray;
}
.img > img {
  border: none;
  margin: auto;
  height: 400px;
}
.About__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About__info > h5 {
  width: 400px;
  height: 300px;
  overflow: scroll;
  margin-right: 150px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.Aboutpng__info > h5 {
  width: 400px;
  height: 300px;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.img > .About__png {
  margin-right: 50px;
}
.img > div > h5 {
  margin-left: 50px;
}
.About__info > h5::-webkit-scrollbar,
.Aboutpng__info > h5::-webkit-scrollbar {
  width: 8px;
}
.About__info > h5::-webkit-scrollbar-track,
.Aboutpng__info > h5::-webkit-scrollbar-track {
  background-color: transparent;
}
.About__info > h5::-webkit-scrollbar-thumb,
.Aboutpng__info > h5::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}
.About__info > h5::-webkit-scrollbar-corner,
.About__info > h5::-webkit-scrollbar-corner {
  display: none;
}
.About__info > h5::-webkit-scrollbar-thumb:hover,
.About__info > h5::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}

.About__team {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: space-evenly;
  align-items: center;
}
.About__team > h1 {
  padding-bottom: 20px;
  /* width: 50%; */
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid;
  border-color: rgba(124, 0, 194) rgba(110, 0, 225);
}
.About__members {
  display: flex;
  justify-content: space-around;
}
.member > img {
  height: 300px;
  margin: 50px 30px 50px 30px;
  object-fit: contain;
  transition: 0.3s;
}

@media screen and (max-width: 1280px) {
  .About__content {
    flex-direction: column;
  }
  .About__content > img {
    padding: none;
    border: none;
    margin-top: -20px;
  }
  .About__info > h5 {
    margin-top: 100px;
    margin-right: 0;
    width: 70%;
  }
  .About__more {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 870px) {
  .About__members {
    flex-wrap: wrap;
  }
  .member > img {
    margin: 10;
  }
}

@media screen and (max-width: 764px) {
  .About > h1 {
    font-size: 70px;
  }
  .About__content > img {
    height: 200px;
    margin-top: 0px;
  }
  .About__info > h5 {
    margin-right: 0;
    text-align: center;
    padding: 0;
  }
  .About__home > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 340px) {
  .About__content > img {
    display: none;
  }
  .About__home > h1 {
    font-size: 50px;
  }
}
