.displayEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 10px;
  border: 1px solid #41ee;
  transition: 0.3s;
}
.displayEvent:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 1px 7px 20px #41ee;
}

h2 {
  color: black;
}

.displayEvent > img {
  height: 300px;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .displayEvent > img {
    height: 200px;
  }
}
