.Event {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Syne", sans-serif;
}

.Event__home {
  position: relative;
  display: flex;
  top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/carousel-5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 15vh;
  width: 100%;
}
.Event__home > h1 {
  color: white;
  font-size: 80px;
}

.Event__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 745px), (max-height: 545px) {
  .Event__home > h1 {
    font-size: 50px;
  }
}
