.facts {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid darkgray;
  color: white;
  font-family: "Syne", sans-serif;
  background: rgba(69, 17, 238, 0.7);
}

.facts > h1 {
  margin-top: 50px;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(110, 0, 225);
}

.facts__header {
  width: 100%;
  text-align: center;
}

.facts__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  text-align: center;
  margin: 25px 35px 25px 35px;
}

.content > h5,
.content > h2 {
  font-weight: 400;
  color: white;
}
