.footer {
  min-height: 90vh;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
}

.footer__contents {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer__contact {
  flex: 0.25;
}
.footer__contact > p {
  margin-top: 30px;
}
.footer__contact > button {
  margin-top: 50px;
  height: 40px;
  width: 150px;
  border: none;
  outline: none !important;
  border-radius: 70px;
  background: #41ee;
  color: white;
  transition: 0.2s;
}
.footer__contact > button:hover {
  background: transparent;
  border: 1px solid;
  border-color: rgba(124, 0, 194) rgba(110, 0, 225);
  color: black;
}

.footer__social {
  display: flex;
}

.MuiSvgIcon-root {
  margin-right: 10px;
  padding: 5px;
  font-size: 32px !important;
  border-radius: 50%;
}

.MuiSvgIcon-root:hover {
  cursor: pointer;
  background: darkgray;
}

.footer__quickLinks > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.footer__quickLinks > ul > li {
  padding: 0;
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .footer__contents {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer__social,
  .footer__info,
  .footer__copyright {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer__copyright {
    width: 100%;
    text-align: center;
  }

  .footer__quickLinks > ul {
    align-items: flex-start;
  }
  .footer__contact {
    margin-top: 50px;
    text-align: center;
  }
}
