.custom-img {
  position: relative;
  top: 100px;
  max-height: 100vh;
  object-fit: contain;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(110, 0, 255, 0.6),
    rgba(110, 0, 255, 0.6)
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
