.nav {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  background: #fff;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.nav__hamMenu {
  display: none;
  background: transparent;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  outline: none !important;
  font-weight: 600;
  font-size: 24px;
  position: relative;
  top: -10%;
  z-index: 1000;
}
.nav__hamMenu:hover {
  background: #ededed;
}

.nav__logo > img {
  width: 100px;
}
.nav__lists > ul {
  display: flex;
  margin-right: 20px;
}
.nav__lists > ul > a > li {
  border-radius: 70px;
  padding: 10px 15px;
  font-family: "Roboto Mono", monospace;
  margin: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: 0.1s;
}
.nav__lists > ul > a > li:hover {
  background: #41ee;
  color: white;
}

@media screen and (max-width: 1150px) {
  .nav__hamMenu {
    display: block;
  }
  .nav__lists > ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-200%);
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    transition: 0.3s;
  }
  .nav__lists > ul.open {
    background: white;
    transform: translateX(0);
  }
  .nav__lists > ul > a > li {
    position: relative;
    top: 70px;
    margin: 0 25px;
    margin-bottom: 3px;
    width: 80%;
    text-align: center;
    font-size: 20px;
  }
}
