.Portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Syne", sans-serif;
}

.Portfolio__home {
  position: relative;
  display: flex;
  top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/carousel-5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 15vh;
  width: 100%;
}
.Portfolio__home > h1 {
  color: white;
  font-size: 80px;
}

.Portfolio__imageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
}

.Portfolio__image {
  height: 300px;
  object-fit: contain;
  margin: 50px;
  transition: 0.3s;
}
.Portfolio__image:hover {
  transform: scale(1.1);
  box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 745px), (max-height: 545px) {
  .Portfolio__home > h1 {
    font-size: 50px;
  }
}
