.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Syne", sans-serif;
}

.Services__home {
  position: relative;
  display: flex;
  top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/carousel-5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
  height: 100vh;
  width: 100%;
}
.Services__home > h1 {
  color: white;
  font-size: 100px;
}
.Services__home > p {
  color: white;
}

.Services img {
  width: 150px;
  height: 200px;
}

.Services__content {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Service {
  margin: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Service > h4 {
  text-align: center;
}

@media screen and (max-width: 764px) {
  .Services__home > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 340px) {
  .Services__home > h1 {
    font-size: 50px;
  }
}
